# Базовые настройки Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
SERVER_PORT=8000

NGINX_PORT=80

# Настройка суперпользователя
SUPERUSER=admin
SU_PASSWORD=1111

# Настройки базы данных (PostgreSQL)
DB_NAME=video_db
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=db
DB_PORT=5432